{% extends 'web/layout/basic.html' %}
{% load static %}

{% block title %}wiki{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/wiki.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="card">

            <div class="card-header">
                <div class="head">
                    <i class="fa-solid fa-book"></i>
                    wiki文档
                </div>
                <div class="function">
                    <a type="button" class="btn btn-success btn-sm" href="/web/{{ request.tracer.id }}/wiki/add">
                        <i class="fa-solid fa-circle-plus"></i>
                        新建
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="col-sm-3 title-list">
                    目录
                </div>

                <div class="col-sm-6 content">

                    <form id="addPageForm" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                        {% endfor %}
                        <div class="text-center">
                            <button id="submitBtn" type="button" class="btn btn-primary">提交</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        // 页面框架加载完成之后自动执行函数
        $(function () {
            bindClickSubmitBtn();
        });

        /*
        点击提交按钮绑定事件
         */
        function bindClickSubmitBtn() {
            console.log('绑定事件')

            $('#submitBtn').click(function () {
                console.log('按钮被点击')

                $('.error-msg').empty();

                console.log('清空原信息')

                $.ajax({
                    url: "{% url 'web:wiki_add' user_id=request.tracer.id %}",
                    type: "POST",
                    data: $('#addPageForm').serialize(),     // 收集表单数据,所有字段+csrf
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            console.log('错误字段')
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
                console.log('发送ajax请求')

            })

        }
    </script>
{% endblock %}